<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
		<!-- 开启驼峰标识转换
		<setting name="mapUnderscoreToCamelCase" value="true" />
		 -->
		<!-- 这个配置使全局的映射器启用或禁用 缓存 -->
		<setting name="cacheEnabled" value="true" />
     </settings>
     
     <typeAliases>
     	
     </typeAliases>
     
</configuration>